@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root{
    --main: #9b46fde1;
    --def: #9b46fda8;
    --minor: #9b6dcf;
    --border: #5c00c5;
	font-family: "Noto Sans JP", sans-serif;
	background-color: rgb(26, 26, 26);
	color: white;
}
/* === HEADER/NAVIGATION === */
body{
	max-width: 800px;
	margin: auto;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px; 
	margin: 0;
	font-size: 0.9rem;
}
.header a {
    text-decoration: none;
	margin: 0;
	padding: 0;
}
.header a:nth-child(2) { 
    min-width: 40px;
    text-align: center;
	padding: 0 7px;
}
.header a:first-child {
	width: 40%;
    text-align: right;
	flex-grow: 1;
}
.header a:last-child {
	width: 40%;
    text-align: left;
	flex-grow: 1;
}

/* === TEXT ELEMENTS === */
.explanation{
	letter-spacing: 0.02rem;
	line-height: 135%;
	margin-top: 1rem;
	margin-bottom: 0.5em;
	margin-left: 0.5rem;
	margin: 1rem 1rem 0.5rem;
}
div.explanation{

}
.original{
	font-size: large;
	letter-spacing: 0.025rem;
	font-weight: 550;
	text-indent: -3em;
}
.example {
	line-height: 165%;
	text-indent: -3em;
	margin-left: 3em;
	margin-top: 1.5em;
	margin-bottom: -0.5em;
	margin-right: 0.5em;
}
.translation{
	letter-spacing: 0rem;
	display: block;
	text-indent: 0em;
	margin-left: 0.5em;
	color: gray;
}

rb{
	padding: 0;
	margin: 0;
}
ruby {
	padding: 0;
	margin: 0;
}
rt{
	transform: translateY(0.25em);
	display: none;
}

.type{
	margin-top: 0.5rem;
	/* div.type */
	margin-left: 4em;
	text-indent: -4em;
	
}

span.seigo {
	display: inline-block;
	color:#5900ff;
	margin-left: 0px;
	text-indent: 0em;
	font-size: large;
	min-width: 50px;
}
span.type {
	display: inline-block;
	margin-left: 0em;
	text-indent: 0em;
	color:#5900ff;
}
span.number {
	display: inline-block;
	margin-left: 0.5em;
	text-indent: 0em;
	width: 1.5em;
	background-color: inherit;
	font-size: normal;
}
span.reference {
	font-size: 95%;
}
span.noSeparate {
	word-break: keep-all;
}

div.talk {
	margin-left: 4.5em;
	text-indent: -4.5em;
}
div.xtalk {
	margin-left: 5.5em;
	text-indent: -5.5em;
}
/* === HEADINGS === */
h1.title {
	background-color: var(--def);
	font-size: 2em;
	font-weight: bold;
	line-height: 160%;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

h2.subtitle {
	background-color: var(--minor);
	font-size: 150%;
	font-weight: bold;
	margin-bottom: 0em;
	margin-top: 0em;
	word-wrap: break-word;
	overflow-wrap: break-word;  
}
h2.spaceBefore {
	margin-top: 1em;
}

h3.subsubtitle {
	color: #9947f7;
	font-size: 130%;
	font-weight: bold;
	line-height: 165%;
	margin-bottom: 0em;
	margin-top: 0.5em;
}
h3.spaceBefore {
	margin-top: 1em;
}

h4.info {
	font-weight: bold;
	line-height: 165%;
	margin-bottom: 0em;
	margin-top: 0em;
	margin-left: 1em;
}

h4.reference {
	font-weight: bold;
	margin-bottom: 0em;
	margin-left: 1em;
	margin-top: 0em;
}

/* === INDEX === */
div.indexSubtitle {
	margin-left: 2.5em;
	text-indent: -1.5em;
}
td {
	padding-right: 0.5em;
	vertical-align: top;
}